<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-02.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg" class="toleft"> הרשמה </h2>
          <p class="auth-signup-text text-muted" class="toleft">יש למלא כל השדות</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>שם משתמש</mat-label>
                  <input matInput formControlName="userName" [(ngModel)]="newCustomer.userName" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('userName').hasError('required')">
                    יש לרשום את שם משתמש
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>דואר אלקטרוני</mat-label>
                  <input matInput formControlName="email" [(ngModel)]="newCustomer.email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    חייב לרשום דואר אלקטרוני
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>מספר נייד</mat-label>
                  <input matInput formControlName="userPhone" [(ngModel)]="newCustomer.userPhone" required>
                  <mat-icon matSuffix>
                    phone
                  </mat-icon>
                  <mat-error *ngIf="authForm.get('userPhone').hasError('required')">
                יש לרשום את מספר נייד
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>כתובת</mat-label>
                  <input matInput formControlName="userAddress" [(ngModel)]="newCustomer.userAddress" required>
                  <mat-icon matSuffix>address</mat-icon>
                  <mat-error *ngIf="authForm.get('userAddress').hasError('required')">
                    יש לרשום את מספר כתובת
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>סיסמה</mat-label>
                  <input matInput formControlName="userPassword" [(ngModel)]="newCustomer.userPassword" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('userPassword').hasError('required')">
                    יש לרשום את הסיסמה
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="flex-sb-m w-full  p-b-20" class="toleft">
              <div >
                <span>כבר רשום? <a routerLink="/authentication/signin">
                  התחברות
                  </a></span>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button (click)="register()" mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                להירשם
              </button>
            </div>
          </form>
       
        </div>
      </div>
    </div>

  </div>
</div>
