<app-screen-cont [title]="'פניות בטיפול טכנאי'" [breadscrums]="breadscrums" >

    <div class="mat-elevation-z8">
        <div class="materialTableHeader">
            <div class="row">
              <div class="col-8">
                <ul class="header-buttons-left ml-0">
                  <li class="dropdown m-l-20">
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input  placeholder="חיפוש" autocomplete="off" type="text" (keyup)="applyFilter($event)" class="browser-default search-field"
                      aria-label="Search box">
                  </li>
                  <li class="dropdown">
                    <h2>
                      <strong>דוח פניות</strong></h2>
                  </li>
                 
                </ul>
              </div>
              <div class="col-4">
                <ul class="header-buttons">
                    <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="warn" (click)="backToListTechnician()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">home
                            </mat-icon>
                          </button>
                        </div>
                      </li>
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="getAllRequestCustomers()">
                        <mat-icon class="col-white">refresh
                        </mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            
           
            </div>
          </div>
                
          <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" >   
           
           <!--  isComplete Column -->
           <ng-container matColumnDef="isComplete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>פניה
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [ngStyle]="{'color':row.complete?'green':'red'}">{{row.complete ? 'סגורה':'פתוחה'}}</mat-cell>
          </ng-container>
           <!-- CustomerName Column -->
           <ng-container matColumnDef="CustomerName">
             <mat-header-cell *matHeaderCellDef mat-sort-header>שם
             </mat-header-cell>
             <mat-cell *matCellDef="let row"> {{row.customerName}}
             </mat-cell>
           </ng-container>
           <!-- phone  Column -->
           <ng-container matColumnDef="phone">
             <mat-header-cell *matHeaderCellDef mat-sort-header>טלפון לתקשרות
             </mat-header-cell>
             <mat-cell *matCellDef="let row"> {{row.phone}}
             </mat-cell>
           </ng-container>
           <!-- email Column -->
           <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>דואר אלקטרוני
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.email}}</mat-cell>
          </ng-container>

          <!-- deviceName Column -->
          <ng-container matColumnDef="deviceName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>פירוט מכשיר
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.deviceName}}</mat-cell>
          </ng-container>

          <!-- deviceType Column -->
          <ng-container matColumnDef="deviceType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>סוג מכשיר
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.deviceType}}</mat-cell>
          </ng-container>

          <!-- problemDescription Column -->
          <ng-container matColumnDef="problemDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>פירוט תקלה
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.problemDescription}}</mat-cell>
          </ng-container>
           <!-- openDate Column -->
           <ng-container matColumnDef="openDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך פתיחה
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.date}}</mat-cell>
          </ng-container>
            <!-- closeDate Column -->
            <ng-container matColumnDef="closeDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך סגירה
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
               {{row.closedate}}</mat-cell>
            </ng-container>

          <!-- id Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>קוד פניה
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.id}}</mat-cell>
          </ng-container>

          <!-- messageTech Column -->
          <ng-container matColumnDef="messageTech">
            <mat-header-cell *matHeaderCellDef mat-sort-header>הודעה מלקוח
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.messageTech}}</mat-cell>
          </ng-container>

           <!-- Answerdate Column -->
           <ng-container matColumnDef="Answerdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>תשובה מעבדה
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
             {{row.answerdate}}</mat-cell>
          </ng-container>


                       <mat-header-row *matHeaderRowDef="displayedColumns">
                       </mat-header-row>
                       <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                       <mat-row *matRowDef="let row; columns: displayedColumns;"
                         [style.cursor]="'pointer'" matRipple>
                       </mat-row>
                     </mat-table>
  
  
   <!-- Loading spinner -->
   <div *ngIf="isTblLoading" class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  
  <mat-paginator [pageSizeOptions]="[ 5, 10, 50,100]" aria-label="בחר לף לפניות"></mat-paginator>
      </div>
</app-screen-cont>