<app-screen-cont [title]="'בקשת תיקון ל'" [breadscrums]="breadscrums" >

        <form #formInfo="ngForm" class="form m-4"  [formGroup]="ReqForm">
          <div class="col-md-12 col-sm-12">
            <h6 > פרטי לקוח</h6>
          <mat-form-field appearance="fill">
            <mat-label>שם פרטי</mat-label>
            <input matInput placeholder="שם פרטי" [(ngModel)]="Customer.userName"  [formControl]="ReqForm.get('CustomerName')" required>
          </mat-form-field>
          <mat-form-field style="margin:10px; width:250px" appearance="fill">
            <mat-label>מייל</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="Customer.email"  [formControl]="ReqForm.get('email')" required>
          </mat-form-field>
          <mat-form-field style="margin:10px; width:250px" appearance="fill">
            <mat-label>טלפון</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="Customer.userPhone"   [formControl]="ReqForm.get('phone')" required>
          </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <h6 >  סוג מכשיר</h6>
            <mat-form-field style="margin:10px; width:250px" appearance="fill">
              <mat-label>דגם מחשב</mat-label>
              <input matInput placeholder="HP/Lenovo..etc" [(ngModel)]="requestCustomer.deviceName" [formControl]="ReqForm.get('deviceName')" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
              
              <mat-label>Select</mat-label>
              <mat-select [(ngModel)]="requestCustomer.deviceType" [formControl]="ReqForm.get('deviceType')">
                <mat-option value="מחשב נייד">מחשב נייד</mat-option>
                <mat-option value="מחשב נייח">מחשב נייח</mat-option>
                <mat-option value="טאבלט">טאבלט
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <h6> פירוט תקלה</h6>
            <mat-form-field style="margin:10px;width:500px" appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput [(ngModel)]="requestCustomer.problemDescription" [formControl]="ReqForm.get('problemDescription')"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <h6>מיקום תיקון</h6>
            <mat-form-field appearance="fill">
            <mat-label>תבחר מיקום</mat-label>
            <mat-select [(ngModel)]="requestCustomer.repairType" [formControl]="ReqForm.get('repairType')">
              <mat-option value="תיקון בבית">תיקון בבית</mat-option>
              <mat-option value="תיקון במעבדה">תיקון במעבדה</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <h6>תנאים והבהרות</h6>
           <h4 class="title">
              אין לשלוח אביזרים נלווים אשר לא הכרחיים למטרת הבדיקה כגון:מטען,תיק,כרטיס זיכרון,נרתקים וכסיויים
          </h4>
  <ul  style="list-style:square!important;direction:rtl;font-family:Calibri;font-size:15px;">
      <li>אין המעבדה אחרית על מידע הנמצא במכשיר.באחריות הלקוח לגבות כל מידע הנמצא בו</li>
  <li>כל מוצר אשר יישלח למעבדה ייארז באריזה על מנת להגן על המוצר בזמן השינוע-קרטון|פצפץ|ספוג וכל</li>
  <li dir="rtl">
      מוצר שסיים תהליך "יאסף על ידי הלקוח לא יאוחר מ 90 ימי עסקים אלא אם סוכם אחרת"
  </li>
      <li>
          מוצר שלא ייאסף תוך 90 יום.איו מעבדה אינה אינה אחראית על החזרתו ללקוח או על המוצר עצמו
      </li>
      <li>
          חשוב לזכור כי טופס זה נועד לתת מענה מקסימאלי עבורך ולכן יש למלא טופס זה במלואו ולצרפו ולמוצר
      </li>
  </ul>
          </div>
          <button mat-raised-button style="margin:10px;" [disabled]="ReqForm.invalid" color="primary" type="submit" (click)="Onsubmit()">שלח</button>
          <button mat-raised-button color="warn">ביטול</button>

        </form>


    
        </app-screen-cont>
