<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row ">
      <form id="form1" runat="server">
        <div class="container" dir="rtl">
            <h2>מערכת ניהול תיקונים מכשירים סלולארים</h2>
            <p style="margin-right:10px;">המערכת מספקת קריאת ניהול פרויקט בבתי הלקוח על החברה</p>
        </div>
        <div class="tab" dir="rtl">
            <button>
                <br />
                טכנאים
            </button>
           
            <button >
                <br />
                 לקוחות חברה   
            </button>
          <button >
                <br />
                פניות  
            </button>
            <button >
                <br />
                התנתק   
            </button>
          </div>
    </form>


  </div>
</div>
</section>
