<app-screen-cont [title]="'לצרף טכנאי ל פניות'" [breadscrums]="breadscrums" >

  <app-technicians-selector style="margin-right: 43%;" (onTechnicianSelected)="technicianWasSelected($event)"></app-technicians-selector>
  
  <section class="content">
      <div class="content-block" style="    margin-left: 100px;">
  
          <div class="header" style="  display: flex;
          justify-content: center;">
            <h1>תכנאי :{{technician.userName}}</h1>
          </div>
          <div class="body">
  
  
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width:40%">
                  <h4 style="margin-right: 100px" >בקשה זמינה</h4>                    
                <div class="board" style="margin-left: 35%;width:250px;height:300px; background-color: rgb(245, 248, 250);border: 0.1px solid #078fae45">                
                  <div class="cards" id="right"  >                                        
                    <div class="container"  (click)="selectRequest(Requset.id)" [value]=requsetCustomer.id *ngFor="let Requset of requsetCustomer">                          
                      <div class="drop-card" >                        
                          <span class="table-img msg-user">  </span>                    
                        <span class="cardtitle noselect" [ngStyle]="{'color':'yellow'}">{{Requset.deviceType}}-{{Requset.id}}-{{Requset.customerName}}</span></div>    
                    </div>            
                  </div> 
                </div>
              </div>
  
              
          
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width:10%"> 
                  <br>
                  <br>
                  <br>
                  <br>
                  <br> 
                  <div  style="margin-left:30% ; width:1500px">  
                    צרף בקשה: {{selectedRequsetId.id}}  
                  </div>          
                  <button class="btn-space"   style="margin-left:50% ;" mat-raised-button
                        color="primary" (click)="attachReqToTechni()">לְצרף</button>

                        <br/>
                        <br/><br/>

                        <div  style="margin-left:30% ; width:1500px">  
                          בטל בקשה: {{selectedRequsetIdlink.id}}  
                        </div>          
                        <button class="btn-space"   style="margin-left:50% ;" mat-raised-button
                              color="primary" (click)="removeAttachReqToTechni()">בטל</button>
  
              
          </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width:40% ">
                  <h4 style="margin-right: 100px">בקשות לינקדאין</h4>
                <div class="board" style="margin-left:30%;width:250px;height:300px;background-color: rgb(245, 248, 250);border: 0.1px solid #078fae45">
                  <div class="cards" id="left" >
                    <div class="container" (click)="selectRequestLink(Requsets.id)" [value]=requestsLinked.id   *ngFor="let Requsets of requestsLinked">
                      <div class="drop-card" >                        
                          <span class="table-img msg-user">  </span>                    
                        <span class="cardtitle noselect" [ngStyle]="{'color':Requsets.complete? 'green':'red'}" > {{Requsets.deviceType}}-{{Requsets.id}}-{{Requsets.customerName}}</span></div>    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
     
  
  </app-screen-cont>
  
  