<app-screen-cont [title]="'עדכון טכנאי'" [breadscrums]="breadscrums">
    <form #formInfo="ngForm" class="form m-4"  [formGroup]="TechnicianForm">
        <div class="col-md-12 col-sm-12">
          <mat-form-field style="margin:10px; width:250px" appearance="fill">
            <mat-label>שם עובד</mat-label>
            <input matInput [(ngModel)]="updateTechnician.userName" [formControl]="TechnicianForm.get('name')"   required>
          </mat-form-field>
          <mat-form-field class="" style="margin:10px; width:250px" appearance="fill" >
              <mat-label class="">מס טלפון</mat-label>
              <input matInput [(ngModel)]="updateTechnician.userPhone" [formControl]="TechnicianForm.get('phone')"  required>
          </mat-form-field>
           
        </div>

        <div class="col-md-12 col-sm-12">

          <mat-form-field style="margin:10px; width:250px" appearance="fill">
            <mat-label>תעודת זהות</mat-label>
            <input matInput [(ngModel)]="updateTechnician.socialId" [formControl]="TechnicianForm.get('socialId')"   required>
          </mat-form-field>


          <mat-form-field style="margin:10px; width:250px" appearance="fill">
            <mat-label>כתובת מגורים</mat-label>
            <input matInput [(ngModel)]="updateTechnician.userAddress" [formControl]="TechnicianForm.get('address')"   required>
          </mat-form-field>
         



        

        </div>
        <div class="col-md-12 col-sm-12" >
          
          <mat-form-field style="margin:10px; width:250px" appearance="fill">
            <mat-label>דואר אלקטורני</mat-label>
            <input matInput [(ngModel)]="updateTechnician.email" [formControl]="TechnicianForm.get('email')"   required>
          </mat-form-field>

          <mat-form-field style="margin:10px; width:250px" appearance="fill" >
              <mat-label>תפקיד טכנאי</mat-label>
              <mat-select [(ngModel)]="updateTechnician.jobRole" [formControl]="TechnicianForm.get('jobRole')" placeholder="תפקיד טכנאי">
                  <mat-option value="מתקין מעבדה">מתקין מעבדה</mat-option>
                  <mat-option value="שליח">שליח</mat-option>
                  <mat-option value="מתקין בבית הלקוח">מתקין בבית הלקוח</mat-option>

              </mat-select>
          </mat-form-field>

          <mat-icon (click)="fileInput.click()">add_a_photo</mat-icon>
          <input #fileInput formControlName="userImage" type="button" [(ngModel)]="updateTechnician.image" (click)="onFileInput()"  style="display:none;" />




      </div>







      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" style="margin:10px ;margin-left: 1800px;">
          <button class="btn-space" (click)="updateTechinician()" [disabled]="TechnicianForm.invalid" mat-raised-button
            color="primary">עדכון</button>
            <button class="btn-space" (click)="backToList()"  mat-raised-button
            color="warn">ביטול</button>

        </div>
      </div>
    </form>


</app-screen-cont>

